@charset "utf-8";

@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#uxiconfont') format('svg');
}
.iconfont {
    font-family: "iconfont";
    font-style: normal;
}

/** Reset **/
html, body, div, span, ul, li, a, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a,
button {
    outline: none;
}
body {
    background-color: #f1f1f1;
}



/** Tao + **/


/* button */
.btn {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 3;
    width: 47px;
    height: 47px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #ff4400;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}
.btn.on {
    background-color: #ccc;
}
.btn span {
    display: inline-block;
    font-size: 26px;
    color: #fff;
}


/* taoplus */
.taoplus {
    position: fixed;
    left: 40px;
    bottom: 50px;
    z-index: 2;
    opacity: 0;
    width: 195px;
    height: 195px;
    overflow: hidden;
    border: 5px solid #adadad;
    border-radius: 50%;
    pointer-events: none;

    -webkit-transform-origin: -10px 210px;
    -webkit-transform: scale(.1);
    -webkit-transition: all .3s;
}

.taoplus.on {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1);
}

/* 圆心 */
/*.taoplus:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -2px;
}*/

.taoplus a {
    display: block;
    text-decoration: none;
    color: #c3c3c3;
}

.taoplus a:hover {
    color: #fff;
}


.taoplus li {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    margin-left: -160px;
    margin-top: -160px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #fff;
    background-color: #f6f6f6;

    -webkit-transform-origin: 100% 100%;
}
.taoplus li:nth-child(1) {
    -webkit-transform: rotate(-30deg) skew(30deg);
}
.taoplus li:nth-child(2) {
    -webkit-transform: rotate(30deg) skew(30deg);
}
.taoplus li:nth-child(3) {
    -webkit-transform: rotate(90deg) skew(30deg);
}
.taoplus li:nth-child(4) {
    -webkit-transform: rotate(150deg) skew(30deg);
}
.taoplus li:nth-child(5) {
    -webkit-transform: rotate(210deg) skew(30deg);
}
.taoplus li:nth-child(6) {
    -webkit-transform: rotate(270deg) skew(30deg);
}


.taoplus .nav a {
    position: absolute;
    right: 50%; 
    bottom: 50%;
    z-index: 3;
    width: 300px;
    height: 300px;
    text-align: center;
    margin-right: -150px;
    margin-bottom: -150px;
    padding-top: 220px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#edebeb));

    -webkit-transform: skew(-30deg) rotate(-60deg) scale(1);
}

.taoplus .nav a:hover {
    background: #ff4400;
}


.taoplus .nav span {
    display: inline-block;
    font-size: 26px;
    margin-right: 12px; /* 暂时没找到问题所在 */
    -webkit-mask: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(154, 154, 154, 1)), to(rgba(195, 195, 195, .8)));
}

.taoplus li:nth-child(1) span {
    -webkit-transform: rotate(90deg);
}
.taoplus li:nth-child(2) span {
    -webkit-transform: rotate(30deg);
}
.taoplus li:nth-child(3) span {
    -webkit-transform: rotate(-30deg);
}
.taoplus li:nth-child(4) span {
    -webkit-transform: rotate(-90deg);
}
.taoplus li:nth-child(5) span {
    -webkit-transform: rotate(-150deg);
}
.taoplus li:nth-child(6) span {
    -webkit-transform: rotate(-210deg);
}


/* home */
.taoplus .home {
    position: absolute;
    left: 55px;
    bottom: 55px;
    z-index: 3;
    width: 78px;
    height: 78px;
    line-height: 78px;
    font-size: 38px;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 50%;
    border: 2px solid #fff;
}
.taoplus .home:hover {
    background: #ff4400;
}
.taoplus .home span {
    -webkit-mask: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(154, 154, 154, .8)), to(rgba(195, 195, 195, .6)));
}


/* overlay */
.overlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .2);

    -webkit-transition: opacity .3s ease;
}
.overlay.on {
    visibility: visible;
    opacity: 1;
}