@charset "utf-8";

/*
 * Overview: CSS3 Taobao Mobile taoplus Style
 * Author: mittya.com
 */


/** Icon font **/
@font-face
  font-family: 'iconfont';
  src: url('/lib/fonts/iconfont.eot');
  src: url('/lib/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/lib/fonts/iconfont.woff') format('woff'),
  url('/lib/fonts/iconfont.ttf') format('truetype'),
  url('/lib/fonts/iconfont.svg#uxiconfont') format('svg');

.iconfont
  font-family: "iconfont"
  font-style: normal


/** Reset **/
html
body
div
span
ul
li
a
button
  margin: 0
  padding: 0
  box-sizing: border-box

ul
  list-style: none

a
button
  outline: none

body
  background-color: #f1f1f1

.fork
  position: absolute
  top: 0
  left: 0
  border: 0
