/* Reset */
html
body
div
span
ul
li
a
button
  margin: 0
  padding: 0
  box-sizing: border-box

ul
  list-style: none

a
button
  outline: none
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;

body
  background-color: #f1f1f1


/* Fork */
.fork
  position: absolute
  top: 0
  left: 0
  border: 0


/* Icon font */
@font-face
  font-family: 'iconfont'
  src: url('../fonts/iconfont.eot')
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype'),
       url('../fonts/iconfont.svg#uxiconfont') format('svg')

.iconfont
  font-family: 'iconfont'
  font-style: normal
